{% extends "base.html.twig" %}
{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <div class="c-subheader justify-content-between px-3">
        <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item">Users</li>
        </ol>
    </div>
{% endblock %}
{% block body %}
    <div class="controls">
        <a href="{{ path('user_create') }}" class="btn btn-success">Create User</a>
    </div>

    <div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-2">{{ form_widget(form.name) }}</div>
            <div class="col-md-2">{{ form_widget(form.email) }}</div>
            <div class="col-md-2">{{ form_widget(form.role) }}</div>
            <div class="col-md-2">{{ form_widget(form.status) }}</div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="{{ path('users') }}" class="btn btn-outline-secondary">Reset</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="card">
        <div class="card-header">Users</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>ID</td>
                        <td>Created At</td>
                        <td>Email</td>
                        <td>Role</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pagination %}
                        <tr>
                            <td><a href="{{ path('user_show', { id: user.id }) }}"> {{ user.name }}</a></td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.created_at|date('Y-m-d') }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user_role(user.role) }}</td>
                            <td>{{ user_status(user.status) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}


