<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scaled=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Custom styles -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="c-app">
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-md-down-none">
        <span class="">Main logo</span>
    </div>
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="#">Dashboard</a>
        </li>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
            data-class="c-sidebar-unfoldable">
    </button>
</div>
<div class="c-wrapper">
    <header class="c-header c-header-ligth c-header-fixed">
        <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
                data-class="c-sidebar-lg-show" responsive="true">
            <span class="icon-menu"></span>
        </button>
        <ul class="c-header-nav mfs-auto">
            <li class="c-header-nav-item dropdown">
                <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">{{ app.user.username }}
                </a>

                <div class="dropdown-menu dropdown-menu-right pt-0">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item " href="{{ path('profile') }}">
                        <i class="fa fa-user mr-2"></i> Profile</a>

                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <i class="fa fa-lock mr-2"></i> Logout</a>
                </div>



            </li>
        </ul>
    </header>
    <div class="c-body">
        <main class="c-main">
            {% block breadcrumbs %}{% endblock %}
            <div class="container-fluid">
                <div id="ui-view">
                    {% include '_flashes.html.twig' %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>
    </div>
    <footer class="c-footer">
        <div>
            <span>© {{ "now"|date("Y") }} All rights reserved</span>
        </div>
    </footer>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>